<!-- <ion-header>
  <ion-toolbar>
    <ion-grid class="navBar">
      <ion-row>
        <ion-col col-2>
          <div class="logoDiv">
              <img src="../../assets/findawordLogo1.png">
          </div>
        </ion-col>
        <ion-col col-8>
            <div class="middleLogoDiv" align-self-center>
                <img src="../../assets/findawordGeneratorLogo.png">
              </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid class="navBar">
      <ion-row>
        <ion-col size="2">
          <img src="../../assets/JapaneseSymbol.png" />
        </ion-col>
          <ion-col size="8" text-center class="sudokuTitle">
              Sudoku Generator
          </ion-col>
          <ion-col size="2">
              <img src="../../assets/JapaneseSymbol.png" />
            </ion-col>
      </ion-row>  
    </ion-grid>
   <ion-grid>
      <ion-row class="pageContent">
        <ion-col size="12" class="pinkBack">
          <ion-row class="sudokuPickerDiv">
            <ion-col size="9" class="whiteArea"> 
                <ion-radio-group  [(ngModel)]="something">
                    <ion-row>
                        <ion-col>
                            <ion-item lines="none"> 
                              <div class="vertical">
                                  <img src="../../assets/SingleSudoku.png" />
                                  <ion-label class="radioText">Single Sudoku</ion-label>
                                  <ion-radio mode="md" color="dark" value="SINGLE"></ion-radio>
                              </div>
                           </ion-item>
                        </ion-col>
                      <ion-col>
                          <ion-item lines="none">
                            <div class="vertical">
                                <img src="../../assets/DoubleSudoku.png" />
                                <ion-label class="radioText">Double Sudoku</ion-label>
                                <ion-radio mode="md" color="dark" value="DOUBLE"></ion-radio>
                            </div>
                         </ion-item>
                      </ion-col>
                  
                      <ion-col>
                          <ion-item lines="none">
                            <div class="vertical">
                                <img src="../../assets/PyramidSudoku2.png" />
                                <ion-label class="radioText">Pyramid Sudoku</ion-label>
                                <ion-radio mode="md" color="dark" item-left value="PYRAMID"></ion-radio>
                            </div>
                         </ion-item>
                      </ion-col>
                      <ion-col>
                          <ion-item lines="none">
                            <div class="vertical">
                                <img src="../../assets/SamuraiSudoku.png" />
                                <ion-label class="radioText">Samurai Sudoku</ion-label>
                                <ion-radio mode="md" color="dark" item-left value="SAMURAI"></ion-radio>
                            </div>
                         </ion-item>
                      </ion-col>
                  </ion-row>
                  </ion-radio-group>
            </ion-col>
          </ion-row>
          <ion-row class="middle"> 
            <ion-col size="2" class="amountOfSudokusDiv">
              <ion-text class="amountText"> Amount to download</ion-text>
              <ion-input type="number" class="amountInput" text-center [(ngModel)]="sudokusToDownload"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row size="12" class="buttonRow">
              <ion-button class="generateButton" color="null" (click)="generateSudoku()"> Generate </ion-button>
              <ion-button class="downloadButton" color="null" (click)="downloadSudoku()"> Download </ion-button>
          </ion-row>
            <div>
                <div class="ion-canvas">
                    <canvas #canvas></canvas>
                </div>
                <div class="ion-canvas">
                  <canvas #canvasSolution></canvas>
                </div>
            </div>
        </ion-col>
      </ion-row>
      <!-- Generate Button Row -->
      <!-- <ion-row class="buttonRow">
        <ion-col size="3"></ion-col> 
          <ion-col size="2">
            <ion-button class="generateButton" size="large" color="tertiary" (click)="createFindAWord()">Generate</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="generateButton" size="large" color="primary" (click)="refreshFindAWord()">Refresh</ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="generateButton" size="large" color="secondary" (click)="downloadCustomPdf()"> Download PDF </ion-button>
          </ion-col>
        <ion-col size="3"></ion-col> 
      </ion-row>
      -->
  </ion-grid>

</ion-content>
