$color-customBeige: #FFE7C5;
$color-customMaroon: #C84346;
$color-customRed: #F22546;

.sudokuTitle {
    font-size: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}
.middle {
    display:flex;
    justify-content: center;
}
.canvasCol {
    margin: auto;
    background: white;
}

.amountText {
    color: $color-customRed;
    text-align: center;
}
.pinkBack {
//   background: rgb(255, 252, 246);
   padding: 15px;
   background: url('../../assets/cherrytransparent.png');
   background-size: contain;
   background-repeat: no-repeat;
   z-index: 5;
}
.ion-canvas {
    background: white;
    margin: auto;
    //width: 43%;
    width: 1060px;
}

.generateButton, .downloadButton {
    color: white;
    font-size: 25px;
    width: 20%;
    height: 50px;
}

.generateButton {
    background-color: $color-customRed!important;
}

.downloadButton {
    background-color: black!important;
}
.buttonRow {
    margin:20px;
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.backImage {
    position:absolute;
    top: 0;
    z-index: 1;
}
.backImage img{
    width: 100%;
}
.navBar {
    //background-color: #FFFAF5;
    background: linear-gradient(0.1turn, rgb(238, 230, 215), #fff,rgb(238, 230, 215));
}

.whiteArea {
    background-color: white;
    border-radius: 15px;
}

.sudokuPickerDiv {
    margin:15px;
    display:flex;
    justify-content: center;
}

.sudokuShapeCheckbox{
    --size: 20;
}

.radioText{
    font-size: 18px;
    font-weight: bold;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageContent {
    background: rgb(255, 252, 246);
    z-index: 2;
}
.amountOfSudokusDiv{
    background-color: white;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.amountInput {
    width: 60%!important;
    height: 70!important;
    font-size: 40px;
}

.amountText {
    color: black;
    font-size: 25px;
    font-weight: bold;
}